@import url('../base.less');

body{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('https://tinypng.com/images/panda-chewing-2x.png') center no-repeat;
    background-size: 100% auto;
}

.pcbox{
    width: 280px;
    margin: 20px auto;
}


/***************公共样式 begin****************/
.root-m [class*=_slider__moveingBar],
.root-pc [class*=_slider__moveingBar]{
    border-radius: 5px !important;
    background-image: linear-gradient(-90deg, #FF6633 0%, #FF9F62 86%) !important;
    background-size: 100% 100% !important;
}

.root-m [class*=_slider__moveingBarError],
.root-pc [class*=_slider__moveingBarError]{
    border-radius: 5px !important;
    background-image: linear-gradient(-90deg, #FF3030 0%, #E12E2E 86%) !important;
    background-size: 100% 100% !important;
}

.root-m [class*=_slider__boxStatic],
.root-pc [class*=_slider__boxStatic]{
    border-radius: 5px !important;
    background: url('./icons/codeslide@1.5x.png') center no-repeat !important;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.12);
}

.root-m [class*=_slider__boxOk],
.root-pc [class*=_slider__boxOk]{
    border-radius: 5px !important;
    background: url('./icons/codesus@1.5x.png') center no-repeat !important;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.12);
}

.root-m [class*=_slider__boxError],
.root-pc [class*=_slider__boxError]{
    border-radius: 5px !important;
    background: url('./icons/codefail@1.5x.png') center no-repeat !important;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.12);
}
/***************公共样式 end****************/


// pc站滑块定制样式
.root-pc {
    position: relative;
}
.root-pc [class*=_slider__sliderTitle]{
    display: none!important;
}

.root-pc [class*=_slider__boxWrapper]{
    border-radius: 5px !important;
    margin: 0 !important;
    width: 100% !important;
    height: 26px !important;
    border: none !important;
    background: #d4d4d4 !important;

    &:after {
        content: "请向右滑动滑块";
        left: 50%!important;
        transform: translateX(-50%)!important;
        height: 24px!important;
        line-height: 24px!important;
    }
}

.root-pc [class*=_slider__wrapper]{
    position: relative;
    margin: 0!important;
    top: 0;
    left: 0;
    height: auto;
}

.root-pc [class*=_slider__moveingBar],
.root-pc [class*=_slider__moveingBarError]{
    height: 26px !important;
}

.root-pc [class*=_slider__boxStatic],
.root-pc [class*=_slider__boxOk],
.root-pc [class*=_slider__boxLoading],
.root-pc [class*=_slider__boxError]
{
    width: 26px !important;
    height: 26px !important;
    background-size: 26px 26px !important;
}



// m站滑块定制样式
.root-m {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.root-m [class*=_slider__wrapper] {
    background: #FFFFFF;
    border-radius: 20px;
    height: auto;

    &:after {
        content: '';
        position: absolute;
        top: -24px;
        right: -24px;
        background: url('./icons/codeclose@1.5x.png') center no-repeat;
        background-size: 28px 28px;
        width: 28px;
        height: 28px;
        pointer-events: none;
    }

    #yodaMoveingBar {
        background-image: linear-gradient(-90deg, #FF6633 0%, #FF9F62 86%);
        background-size: 100% 100% !important;
    }
}

.root-m [class*=_slider__moveingBar],
.root-m [class*=_slider__moveingBarError]{
    height: 35px !important;
}

.root-m [class*=_slider__boxStatic],
.root-m [class*=_slider__boxOk],
.root-m [class*=_slider__boxLoading],
.root-m [class*=_slider__boxError]
{
    width: 35px !important;
    height: 35px !important;
    background-size: 35px 35px !important;
}

.root-m [class*=_slider__sliderTitle] {
    //display: none;
    font-size: 21px;
    color: #fff;
    font-weight: 400;
    padding: 25px 0;
    margin: 0 auto;
}

.root-m .starttitle{
    color: #111;
    &:after {
        content: '请向右滑动滑块验证';
        position: absolute;
        top: 54px;
        left: 50%;
        font-size: 14px;
        color: #777777;
        transform: translateX(-50%);
    }
}

.root-m .sustitle{
    color: #111;
    &:after {
        content: '恭喜你，验证通过';
        position: absolute;
        top: 54px;
        left: 50%;
        font-size: 14px;
        color: #777777;
        transform: translateX(-50%);
    }
}

.root-m .errortitle{
    color: #111;
    &:after {
        content: '验证失败';
        position: absolute;
        top: 54px;
        left: 50%;
        font-size: 14px;
        color: #777777;
        transform: translateX(-50%);
    }
}

.root-m [class*=_slider__boxWrapper] {
    width: 220px;
    margin: 30px auto 40px;
    border-radius: 5px !important;
	height: 35px !important;
    border: none !important;
    background: #d4d4d4 !important;

    &:after {
    	display: none !important;
    }
}

.root-m [class*=_slider__sure] {
    color: #f63 !important;
}

//图形验证码样式
.root-m  [class*=_slider__imgWrapper] {
    width: 72%;

    &:after {
        content: '';
        position: absolute;
        top: -24px;
        right: -24px;
        background: url('./icons/codeclose@1.5x.png') center no-repeat;
        background-size: 28px 28px;
        width: 28px;
        height: 28px;
        pointer-events: none;
    }

    input[class*=_slider__codeInput] {
        height: 2.2em !important;
    }
}



