@import url('../base.less');

.seedbox{
	padding: 20px;
}

#root{
	.title{
		display: none;
	}

	.wrapper{
		position: relative;
		left: 0;
		top: 0;
		transform: none;
		background: #fff;
		width: 100%;
	}

	#yodaBoxWrapper{
		margin: 0 0;
		width: 100%;
	}
}