@import url('../base.less');

.seedbox {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('https://tinypng.com/images/panda-chewing-2x.png') center no-repeat;
    background-size: 100% auto;
}

// #root{
// 	.title{
// 		display: none;
// 	}

// 	.wrapper{
// 		position: relative;
// 		left: 0;
// 		top: 0;
// 		transform: none;
// 		background: #fff;
// 		width: 100%;
// 		margin: 0;
// 	}

// 	#yodaBoxWrapper{
// 		display: block;
// 		margin: 0 0;
// 		width: auto;
// 	}
// }
// //title样式
// #root [class*=_slider__sliderTitle___]
// {
//     display: none;
// }



#root {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

//滑块验证码样式
#root [class*=_slider__wrapper] {
    background: #FFFFFF;
    border-radius: 20px;
    height: auto;

    &:after {
        content: '';
        position: absolute;
        top: -24px;
        right: -24px;
        background: url('./icons/codeclose@1.5x.png') center no-repeat;
        background-size: 28px 28px;
        width: 28px;
        height: 28px;
        pointer-events: none;
    }

    #yodaMoveingBar {
        background-image: linear-gradient(-90deg, #FF6633 0%, #FF9F62 86%) !important;
        background-size: 100% 100% !important;
    }

    #yodaBox {
        background: url('./icons/codeslide@1.5x.png') center no-repeat;
        background-size: 33px 33px !important;
		height: 33px;
		width: 33px;
		left: 0px;
		top: 0px;
    }

    .yodaboxsus {
		background: url('./icons/codesus@1.5x.png') center no-repeat !important;
    }

    .yodaboxerror {
		background: url('./icons/codefail@1.5x.png') center no-repeat !important;
    }

}

#root [class*=_slider__sliderTitle] {
    font-size: 21px;
    color: #111111;
    font-weight: 400;
    padding: 25px 0;
    margin: 0 auto;

    &:after {
        content: '请向右滑动滑块验证';
        position: absolute;
        top: 54px;
        left: 50%;
        font-size: 14px;
        color: #777777;
        transform: translateX(-50%);
    }
}

#root [class*=_slider__boxWrapper] {
    border-radius: 5px;
    width: 220px;
    margin: 30px auto 40px;
	border: none;

    &:after {
    	display: none;
    }
}

#root [class*=_slider__boxStatic] {
    border-radius: 5px;
}

#root [class*=_slider__moveingBar] {
    border-radius: 5px;
}

#root [class*=_slider__sure] {
    color: #f63 !important;
}

//图形验证码样式
#root [class*=_slider__imgWrapper] {
    width: 72%;

    &:after {
        content: '';
        position: absolute;
        top: -24px;
        right: -24px;
        background: url('./icons/codeclose@1.5x.png') center no-repeat;
        background-size: 28px 28px;
        width: 28px;
        height: 28px;
        pointer-events: none;
    }

    input[class*=_slider__codeInput] {
        height: 2.2em !important;
    }
}



